* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  padding: 37px 0px !important;
}
nav .navbar-brand img {
  width: 205px;
  height: 25px;
}
nav .navbar-nav .nav-item {
  padding: 0px 25px !important;
}
nav .navbar-nav .nav-item a {
  padding: 0 !important;
  position: relative !important;
}
nav .navbar-nav .nav-item a::before {
  content: "";
  position: absolute !important;
  bottom: 0px;
  left: 0px;
  height: 10px;
  width: 100%;
  color: black;
  transition: all 0.3s;
}
nav .navbar-nav .nav-item a:hover::before {
  width: 100% !important;
}
nav .navbar-nav .nav-item:nth-child(1) a {
  border-bottom: 1px solid black;
}
nav .nav-icons a {
  color: black;
  padding-left: 20px;
}
nav .nav-icons a .card-badge {
  padding: 0.15em 0.45em !important;
}
nav .nav-icons a:nth-child(1):hover {
  color: red;
}
nav .nav-icons a:nth-child(3) {
  text-decoration: none;
}

#product {
  margin-top: 10px;
  padding: 70px 0px;
  background-color: #fafaf9;
}
#product .title-wrapper h1 {
  color: #0e0e0e;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  line-height: 1.32em;
  font-weight: 400;
  display: table-cell;
  height: 100%;
  width: 100%;
}
#product .title-wrapper span {
  display: inline-block;
  vertical-align: middle;
  font-family: "Lora", serif;
  font-size: 17px;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
  color: #6d6a6a;
  margin: 8px 0 0;
}

#allproduct .textp {
  font-size: 12px;
  line-height: 44px;
  color: #8b8b8b;
  display: inline;
}
#allproduct .main .pagination .page .paragraf1 {
  margin-left: 400px;
  cursor: pointer;
}
#allproduct .main .pagination .page .paragraf2 {
  margin-left: 425px;
  top: -40px;
  position: relative;
  cursor: pointer;
}
#allproduct .main .pagination .page i {
  margin-left: 452px;
  top: -79px;
  position: relative;
  cursor: pointer;
}
#allproduct .main .container .row {
  margin-bottom: 30px;
}
#allproduct .main .related-img1 {
  position: relative;
}
#allproduct .main .related-img1:hover .mkdf-price-holder .price span {
  display: none;
}
#allproduct .main .related-img1:hover .mkdf-price-holder .price a {
  display: block;
}
#allproduct .main .related-img1 img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  width: 100%;
}
#allproduct .main .related-img1 img:hover {
  transform: scale(1.2);
}
#allproduct .main .related-img1 .mkdf-product-list-title {
  margin: 0 0 4px;
  text-align: center;
  margin-top: 18px;
}
#allproduct .main .related-img1 .mkdf-product-list-title a {
  color: #1b1b1b;
  text-decoration: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
#allproduct .main .related-img1 .mkdf-price-holder {
  position: relative;
  display: block;
  min-height: 20px;
  margin: 6px 0 0;
}
#allproduct .main .related-img1 .mkdf-price-holder .price {
  position: relative;
  margin: 4px 0 0;
  line-height: 1;
  color: #afafaf;
  font-family: Montserrat, sans-serif;
  transition: all 0.3s ease;
  font-size: 12px;
}
#allproduct .main .related-img1 .mkdf-price-holder .price span {
  text-align: center;
  font-size: inherit;
  line-height: inherit;
}
#allproduct .main .related-img1 .mkdf-price-holder .price a {
  display: none;
  text-decoration: none;
  color: black;
  text-align: center;
}
#allproduct .main .related-img1 .mkdf-price-holder .price a:hover {
  color: #f34f3f;
}
#allproduct .main .related-img1 .mkdf-price-holder .price span {
  display: block;
}
#allproduct .main .related-img1 .mkdf-price-holder .mkdf-default-skin {
  position: absolute;
  left: 50%;
  bottom: 7px;
  text-transform: none;
  letter-spacing: 0;
  line-height: 15px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #afafaf;
  opacity: 0;
}
#allproduct .main .related-img1 .spansale {
  background: #f34f3f;
  color: white;
  position: relative;
  left: 0;
  display: contents;
  position: absolute;
  display: block;
  top: 0;
  width: auto;
  height: 30px;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px 0 0 12px;
  padding: 5px 13px;
  z-index: 100;
  transform: translateZ(0);
}
#allproduct .main .related-img {
  position: relative;
}
#allproduct .main .related-img:hover .mkdf-price-holder .price span {
  display: none;
}
#allproduct .main .related-img:hover .mkdf-price-holder .price a {
  display: block;
}
#allproduct .main .related-img img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  width: 100%;
}
#allproduct .main .related-img img:hover {
  transform: scale(1.2);
}
#allproduct .main .related-img .mkdf-product-list-title {
  margin: 0 0 4px;
  text-align: center;
  margin-top: 18px;
}
#allproduct .main .related-img .mkdf-product-list-title a {
  color: #1b1b1b;
  text-decoration: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
#allproduct .main .related-img .mkdf-price-holder {
  position: relative;
  display: block;
  min-height: 20px;
  margin: 6px 0 0;
}
#allproduct .main .related-img .mkdf-price-holder .price {
  position: relative;
  margin: 4px 0 0;
  line-height: 1;
  color: #afafaf;
  font-family: Montserrat, sans-serif;
  transition: all 0.3s ease;
  font-size: 12px;
}
#allproduct .main .related-img .mkdf-price-holder .price span {
  text-align: center;
  font-size: inherit;
  line-height: inherit;
}
#allproduct .main .related-img .mkdf-price-holder .price a {
  display: none;
  text-decoration: none;
  color: black;
  text-align: center;
}
#allproduct .main .related-img .mkdf-price-holder .price a:hover {
  color: #f34f3f;
}
#allproduct .main .related-img .mkdf-price-holder .price span {
  display: block;
}
#allproduct .main .related-img .mkdf-price-holder .mkdf-default-skin {
  position: absolute;
  left: 50%;
  bottom: 7px;
  text-transform: none;
  letter-spacing: 0;
  line-height: 15px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #afafaf;
  opacity: 0;
}

#footer {
  background-color: #fefaf3;
}
#footer .footer-info {
  padding: 73px 0;
}
#footer .footer-info h6 {
  margin-bottom: 23px;
  font-size: 12px;
  font-weight: 500;
}
#footer .footer-info .footer-menu-list {
  list-style: none;
  padding: 0;
}
#footer .footer-info .footer-menu-list .footer-menu-item {
  padding-bottom: 3px;
  line-height: 24px;
  font-size: 12px;
  color: #8b8b8b;
  cursor: pointer;
}
#footer .footer-sec {
  border-top: 1px solid #eceae1;
  padding: 23px 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
#footer .footer-sec .copy-write {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  color: #afafaf;
}
#footer .footer-sec .footer-social-list {
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
#footer .footer-sec .footer-social-list .footer-social-item {
  font-size: 12px;
  cursor: pointer;
  color: #afafaf;
}
#footer .footer-sec .footer-social-list .footer-social-item:nth-child(2) {
  margin-left: 25px;
}/*# sourceMappingURL=1productList.css.map */